{#
 # Licensed under the Apache License v. 2 (the "License")
 # You may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0.html
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # Copyright (C) 2024-2024 xqyjlj<xqyjlj@126.com>
 #
 # @author      xqyjlj
 # @file        startup_gcc.S.j2
 #
 # Change Logs:
 # Date           Author       Notes
 # ------------   ----------   -----------------------------------------------
 # 2024-12-14     xqyjlj       initial version
 #}

{%- set info = CSP.project|chip_info %}
/**
 * *****************************************************************************
 *  @author:            {{ CSP.author }}
 *  @file:              {{ CSP.file }}
 *  @brief:             {{ CSP.brief }}
 *  @version:           {{ CSP.version }}
 *  @hal:               {{ CSP.project.vendor }}.{{ CSP.project.gen.hal }}@{{ CSP.project.gen.halVersion }}
 *  @project:           {{ CSP.project.name }}
 *  @targetChip:        {{ CSP.project.targetChip }}
 *  @time:              {{ CSP.time }}
 *
 * *****************************************************************************
 *  @attention
 *
 *  Copyright (C) {{ year }} csp software.
 *  All rights reserved.
 *
 * *****************************************************************************
 */
    .syntax unified
    .cpu cortex-m3
    .fpu softvfp
    .thumb

.word __data_flash_start__
.word __data_start__
.word __data_end__
.word __bss_start__
.word __bss_end__
.word __default_stack__

/*!< Reset_Handler */
    .section .text.Reset_Handler
    .weak Reset_Handler
    .type Reset_Handler, %function
Reset_Handler:
    ldr r0, =__data_start__
    ldr r1, =__data_end__
    ldr r2, =__data_flash_start__
    movs r3, #0
    b l_loop_copy_data_sections

l_copy_data_sections:
    ldr r4, [r2, r3]
    str r4, [r0, r3]
    adds r3, r3, #4

l_loop_copy_data_sections:
    adds r4, r0, r3
    cmp r4, r1
    bcc l_copy_data_sections

    ldr r2, = __bss_start__
    ldr r4, = __bss_end__
    movs r3, #0
    b l_loop_clear_bss

l_clear_bss:
    str  r3, [r2]
    adds r2, r2, #4

l_loop_clear_bss:
    cmp r2, r4
    bcc l_clear_bss

    bl SystemInit
    bl __libc_init_array
    bl main
    bx lr

    .size Reset_Handler, .-Reset_Handler

/*!< Default_Handler */
    .section .text.Default_Handler,"ax",%progbits
    .weak Default_Handler
    .type Default_Handler, %function
Default_Handler:
    b .

    .size Default_Handler, .-Default_Handler

/*!< Default_Handler */
    .section .isr_vector,"a",%progbits
    .type g_apm32_vectors, %object
    .size g_apm32_vectors, .-g_apm32_vectors
g_apm32_vectors:
    .word __default_stack__            /*!< Top of Stack */
    .word Reset_Handler                 /*!< -15, Reset Handler */
    .word NMI_Handler                   /*!< -14, NMI Handler */
    .word HardFault_Handler             /*!< -13, Hard Fault Handler */
    .word MemManage_Handler             /*!< -12, MPU Fault Handler */
    .word BusFault_Handler              /*!< -11, Bus Fault Handler */
    .word UsageFault_Handler            /*!< -10, Usage Fault Handler */
    .word 0                             /*!< -9, Reserved */
    .word 0                             /*!< -8, Reserved */
    .word 0                             /*!< -7, Reserved */
    .word 0                             /*!< -6, Reserved */
    .word SVC_Handler                   /*!< -5, SVCall Handler */
    .word DebugMon_Handler              /*!< -4, Debug Monitor Handler */
    .word 0                             /*!< -3, Reserved */
    .word PendSV_Handler                /*!< -2, PendSV Handler */
    .word SysTick_Handler               /*!< -1, SysTick Handler */
{%- if info.class == "APM32F10X_MD" %}
    .word WWDT_IRQHandler               /*!< 0, Window Watchdog */
    .word PVD_IRQHandler                /*!< 1, PVD through EINT Line detect */
    .word TAMPER_IRQHandler             /*!< 2, Tamper */
    .word RTC_IRQHandler                /*!< 3, RTC */
    .word FLASH_IRQHandler              /*!< 4, Flash */
    .word RCM_IRQHandler                /*!< 5, RCM */
    .word EINT0_IRQHandler              /*!< 6, EINT Line 0 */
    .word EINT1_IRQHandler              /*!< 7, EINT Line 1 */
    .word EINT2_IRQHandler              /*!< 8, EINT Line 2 */
    .word EINT3_IRQHandler              /*!< 9, EINT Line 3 */
    .word EINT4_IRQHandler              /*!< 10, EINT Line 4 */
    .word DMA1_Channel1_IRQHandler      /*!< 11, DMA1 Channel 1 */
    .word DMA1_Channel2_IRQHandler      /*!< 12, DMA1 Channel 2 */
    .word DMA1_Channel3_IRQHandler      /*!< 13, DMA1 Channel 3 */
    .word DMA1_Channel4_IRQHandler      /*!< 14, DMA1 Channel 4 */
    .word DMA1_Channel5_IRQHandler      /*!< 15, DMA1 Channel 5 */
    .word DMA1_Channel6_IRQHandler      /*!< 16, DMA1 Channel 6 */
    .word DMA1_Channel7_IRQHandler      /*!< 17, DMA1 Channel 7 */
    .word ADC1_2_IRQHandler             /*!< 18, ADC1_2 */
    .word USBD1_HP_CAN1_TX_IRQHandler   /*!< 19, USBD1 High Priority or CAN1 TX */
    .word USBD1_LP_CAN1_RX0_IRQHandler  /*!< 20, USBD1 Low  Priority or CAN1 RX0 */
    .word CAN1_RX1_IRQHandler           /*!< 21, CAN1 RX1 */
    .word CAN1_SCE_IRQHandler           /*!< 22, CAN1 SCE */
    .word EINT9_5_IRQHandler            /*!< 23, EINT Line 9..5 */
    .word TMR1_BRK_IRQHandler           /*!< 24, TMR1 Break */
    .word TMR1_UP_IRQHandler            /*!< 25, TMR1 Update */
    .word TMR1_TRG_COM_IRQHandler       /*!< 26, TMR1 Trigger and Commutation */
    .word TMR1_CC_IRQHandler            /*!< 27, TMR1 Capture Compare */
    .word TMR2_IRQHandler               /*!< 28, TMR2 */
    .word TMR3_IRQHandler               /*!< 29, TMR3 */
    .word TMR4_IRQHandler               /*!< 30, TMR4 */
    .word I2C1_EV_IRQHandler            /*!< 31, I2C1 Event */
    .word I2C1_ER_IRQHandler            /*!< 32, I2C1 Error */
    .word I2C2_EV_IRQHandler            /*!< 33, I2C2 Event */
    .word I2C2_ER_IRQHandler            /*!< 34, I2C2 Error */
    .word SPI1_IRQHandler               /*!< 35, SPI1 */
    .word SPI2_IRQHandler               /*!< 36, SPI2 */
    .word USART1_IRQHandler             /*!< 37, USART1 */
    .word USART2_IRQHandler             /*!< 38, USART2 */
    .word USART3_IRQHandler             /*!< 39, USART3 */
    .word EINT15_10_IRQHandler          /*!< 40, EINT Line 15..10 */
    .word RTC_Alarm_IRQHandler          /*!< 41, RTC Alarm through EINT Line */
    .word USBDWakeUp_IRQHandler         /*!< 42, USBD Wakeup from suspend */
    .word FPU_IRQHandler                /*!< 43, FPU */
    .word QSPI_IRQHandler               /*!< 44, QSPI */
    .word USBD2_HP_IRQHandler           /*!< 45, USBD2 High Priority */
    .word USBD2_LP_IRQHandler           /*!< 46, USBD2 Low Priority */
{%- elif info.class == "APM32F10X_HD" %}
    .word WWDT_IRQHandler               /*!< 0, Window Watchdog */
    .word PVD_IRQHandler                /*!< 1, PVD through EINT Line detect */
    .word TAMPER_IRQHandler             /*!< 2, Tamper */
    .word RTC_IRQHandler                /*!< 3, RTC */
    .word FLASH_IRQHandler              /*!< 4, Flash */
    .word RCM_IRQHandler                /*!< 5, RCM */
    .word EINT0_IRQHandler              /*!< 6, EINT Line 0 */
    .word EINT1_IRQHandler              /*!< 7, EINT Line 1 */
    .word EINT2_IRQHandler              /*!< 8, EINT Line 2 */
    .word EINT3_IRQHandler              /*!< 9, EINT Line 3 */
    .word EINT4_IRQHandler              /*!< 10, EINT Line 4 */
    .word DMA1_Channel1_IRQHandler      /*!< 11, DMA1 Channel 1 */
    .word DMA1_Channel2_IRQHandler      /*!< 12, DMA1 Channel 2 */
    .word DMA1_Channel3_IRQHandler      /*!< 13, DMA1 Channel 3 */
    .word DMA1_Channel4_IRQHandler      /*!< 14, DMA1 Channel 4 */
    .word DMA1_Channel5_IRQHandler      /*!< 15, DMA1 Channel 5 */
    .word DMA1_Channel6_IRQHandler      /*!< 16, DMA1 Channel 6 */
    .word DMA1_Channel7_IRQHandler      /*!< 17, DMA1 Channel 7 */
    .word ADC1_2_IRQHandler             /*!< 18, ADC1 & ADC2 */
    .word USBD1_HP_CAN1_TX_IRQHandler   /*!< 19, USBD1 High Priority or CAN1 TX */
    .word USBD1_LP_CAN1_RX0_IRQHandler  /*!< 20, USBD1 Low  Priority or CAN1 RX0 */
    .word CAN1_RX1_IRQHandler           /*!< 21, CAN1 RX1 */
    .word CAN1_SCE_IRQHandler           /*!< 22, CAN1 SCE */
    .word EINT9_5_IRQHandler            /*!< 23, EINT Line 9..5 */
    .word TMR1_BRK_IRQHandler           /*!< 24, TMR1 Break */
    .word TMR1_UP_IRQHandler            /*!< 25, TMR1 Update */
    .word TMR1_TRG_COM_IRQHandler       /*!< 26, TMR1 Trigger and Commutation */
    .word TMR1_CC_IRQHandler            /*!< 27, TMR1 Capture Compare */
    .word TMR2_IRQHandler               /*!< 28, TMR2 */
    .word TMR3_IRQHandler               /*!< 29, TMR3 */
    .word TMR4_IRQHandler               /*!< 30, TMR4 */
    .word I2C1_EV_IRQHandler            /*!< 31, I2C1 Event */
    .word I2C1_ER_IRQHandler            /*!< 32, I2C1 Error */
    .word I2C2_EV_IRQHandler            /*!< 33, I2C2 Event */
    .word I2C2_ER_IRQHandler            /*!< 34, I2C2 Error */
    .word SPI1_IRQHandler               /*!< 35, SPI1 */
    .word SPI2_IRQHandler               /*!< 36, SPI2 */
    .word USART1_IRQHandler             /*!< 37, USART1 */
    .word USART2_IRQHandler             /*!< 38, USART2 */
    .word USART3_IRQHandler             /*!< 39, USART3 */
    .word EINT15_10_IRQHandler          /*!< 40, EINT Line 15..10 */
    .word RTC_Alarm_IRQHandler          /*!< 41, RTC Alarm through EINT Line */
    .word USBDWakeUp_IRQHandler         /*!< 42, USBD Wakeup from suspend */
    .word TMR8_BRK_IRQHandler           /*!< 43, TMR8 Break */
    .word TMR8_UP_IRQHandler            /*!< 44, TMR8 Update */
    .word TMR8_TRG_COM_IRQHandler       /*!< 45, TMR8 Trigger and Commutation */
    .word TMR8_CC_IRQHandler            /*!< 46, TMR8 Capture Compare */
    .word ADC3_IRQHandler               /*!< 47, ADC3 */
    .word FSMC_IRQHandler               /*!< 48, EMMC */
    .word SDIO_IRQHandler               /*!< 49, SDIO */
    .word TMR5_IRQHandler               /*!< 50, TMR5 */
    .word SPI3_IRQHandler               /*!< 51, SPI3 */
    .word UART4_IRQHandler              /*!< 52, UART4 */
    .word UART5_IRQHandler              /*!< 53, UART5 */
    .word TMR6_IRQHandler               /*!< 54, TMR6 */
    .word TMR7_IRQHandler               /*!< 55, TMR7 */
    .word DMA2_Channel1_IRQHandler      /*!< 56, DMA2 Channel1 */
    .word DMA2_Channel2_IRQHandler      /*!< 57, DMA2 Channel2 */
    .word DMA2_Channel3_IRQHandler      /*!< 58, DMA2 Channel3 */
    .word DMA2_Channel4_5_IRQHandler    /*!< 59, DMA2 Channel4 & Channel5 */
    .word 0                             /*!< 60, Reserved */
    .word USBD2_HP_CAN2_TX_IRQHandler   /*!< 61, USBD2 High Priority or CAN2 TX */
    .word USBD2_LP_CAN2_RX0_IRQHandler  /*!< 62, USBD2 Low Priority or CAN2 RX0 */
    .word CAN2_RX1_IRQHandler           /*!< 63, CAN2 RX1 */
    .word CAN2_SCE_IRQHandler           /*!< 64, CAN2 SCE */
{%- elif info.class == "APM32F10X_CL" %}
    .word WWDT_IRQHandler               /*!< 0, Window Watchdog */
    .word PVD_IRQHandler                /*!< 1, PVD through EINT Line detect */
    .word TAMPER_IRQHandler             /*!< 2, Tamper */
    .word RTC_IRQHandler                /*!< 3, RTC */
    .word FLASH_IRQHandler              /*!< 4, Flash */
    .word RCM_IRQHandler                /*!< 5, RCM */
    .word EINT0_IRQHandler              /*!< 6, EINT Line 0 */
    .word EINT1_IRQHandler              /*!< 7, EINT Line 1 */
    .word EINT2_IRQHandler              /*!< 8, EINT Line 2 */
    .word EINT3_IRQHandler              /*!< 9, EINT Line 3 */
    .word EINT4_IRQHandler              /*!< 10, EINT Line 4 */
    .word DMA1_Channel1_IRQHandler      /*!< 11, DMA1 Channel 1 */
    .word DMA1_Channel2_IRQHandler      /*!< 12, DMA1 Channel 2 */
    .word DMA1_Channel3_IRQHandler      /*!< 13, DMA1 Channel 3 */
    .word DMA1_Channel4_IRQHandler      /*!< 14, DMA1 Channel 4 */
    .word DMA1_Channel5_IRQHandler      /*!< 15, DMA1 Channel 5 */
    .word DMA1_Channel6_IRQHandler      /*!< 16, DMA1 Channel 6 */
    .word DMA1_Channel7_IRQHandler      /*!< 17, DMA1 Channel 7 */
    .word ADC1_2_IRQHandler             /*!< 18, ADC1 & ADC2 */
    .word CAN1_TX_IRQHandler            /*!< 19, CAN1 TX */
    .word CAN1_RX0_IRQHandler           /*!< 20, CAN1 RX0 */
    .word CAN1_RX1_IRQHandler           /*!< 21, CAN1 RX1 */
    .word CAN1_SCE_IRQHandler           /*!< 22, CAN1 SCE */
    .word EINT9_5_IRQHandler            /*!< 23, EINT Line 9..5 */
    .word TMR1_BRK_IRQHandler           /*!< 24, TMR1 Break */
    .word TMR1_UP_IRQHandler            /*!< 25, TMR1 Update */
    .word TMR1_TRG_COM_IRQHandler       /*!< 26, TMR1 Trigger and Commutation */
    .word TMR1_CC_IRQHandler            /*!< 27, TMR1 Capture Compare */
    .word TMR2_IRQHandler               /*!< 28, TMR2 */
    .word TMR3_IRQHandler               /*!< 29, TMR3 */
    .word TMR4_IRQHandler               /*!< 30, TMR4 */
    .word I2C1_EV_IRQHandler            /*!< 31, I2C1 Event */
    .word I2C1_ER_IRQHandler            /*!< 32, I2C1 Error */
    .word I2C2_EV_IRQHandler            /*!< 33, I2C2 Event */
    .word I2C2_ER_IRQHandler            /*!< 34, I2C2 Error */
    .word SPI1_IRQHandler               /*!< 35, SPI1 */
    .word SPI2_IRQHandler               /*!< 36, SPI2 */
    .word USART1_IRQHandler             /*!< 37, USART1 */
    .word USART2_IRQHandler             /*!< 38, USART2 */
    .word USART3_IRQHandler             /*!< 39, USART3 */
    .word EINT15_10_IRQHandler          /*!< 40, EINT Line 15..10 */
    .word RTC_Alarm_IRQHandler          /*!< 41, RTC Alarm through EINT Line */
    .word OTG_FS_WKUP_IRQHandler        /*!< 42, USBD Wakeup from suspend */
    .word 0                             /*!< 43, Reserved */
    .word 0                             /*!< 44, Reserved */
    .word 0                             /*!< 45, Reserved */
    .word 0                             /*!< 46, Reserved */
    .word 0                             /*!< 47, Reserved */
    .word 0                             /*!< 48, Reserved */
    .word 0                             /*!< 49, Reserved */
    .word TMR5_IRQHandler               /*!< 50, TMR5 */
    .word SPI3_IRQHandler               /*!< 51, SPI3 */
    .word UART4_IRQHandler              /*!< 52, UART4 */
    .word UART5_IRQHandler              /*!< 53, UART5 */
    .word TMR6_IRQHandler               /*!< 54, TMR6 */
    .word TMR7_IRQHandler               /*!< 55, TMR7 */
    .word DMA2_Channel1_IRQHandler      /*!< 56, DMA2 Channel1 */
    .word DMA2_Channel2_IRQHandler      /*!< 57, DMA2 Channel2 */
    .word DMA2_Channel3_IRQHandler      /*!< 58, DMA2 Channel3 */
    .word DMA2_Channel4_IRQHandler      /*!< 59, DMA2 Channel4 */
    .word DMA2_Channel5_IRQHandler      /*!< 60, DMA2 Channel5 */
    .word ETH_IRQHandler                /*!< 61, ETH */
    .word ETH_WKUP_IRQHandler           /*!< 62, ETH Wake up */
    .word CAN2_TX_IRQHandler            /*!< 63, CAN2 TX */
    .word CAN2_RX0_IRQHandler           /*!< 64, CAN2 RX0 */
    .word CAN2_RX1_IRQHandler           /*!< 65, CAN2 RX1 */
    .word CAN2_SCE_IRQHandler           /*!< 66, CAN2 SCE */
    .word OTG_FS_IRQHandler             /*!< 67, OTG FS */
{%- endif %}
{# #}
    .weak NMI_Handler
    .thumb_set NMI_Handler,Default_Handler

    .weak HardFault_Handler
    .thumb_set HardFault_Handler,Default_Handler

    .weak MemManage_Handler
    .thumb_set MemManage_Handler,Default_Handler

    .weak BusFault_Handler
    .thumb_set BusFault_Handler,Default_Handler

    .weak UsageFault_Handler
    .thumb_set UsageFault_Handler,Default_Handler

    .weak SVC_Handler
    .thumb_set SVC_Handler,Default_Handler

    .weak DebugMon_Handler
    .thumb_set DebugMon_Handler,Default_Handler

    .weak PendSV_Handler
    .thumb_set PendSV_Handler,Default_Handler

    .weak SysTick_Handler
    .thumb_set SysTick_Handler,Default_Handler
{# #}
{%- if info.class == "APM32F10X_MD" %}
    .weak WWDT_IRQHandler
    .thumb_set WWDT_IRQHandler,Default_Handler

    .weak PVD_IRQHandler
    .thumb_set PVD_IRQHandler,Default_Handler

    .weak TAMPER_IRQHandler
    .thumb_set TAMPER_IRQHandler,Default_Handler

    .weak RTC_IRQHandler
    .thumb_set RTC_IRQHandler,Default_Handler

    .weak FLASH_IRQHandler
    .thumb_set FLASH_IRQHandler,Default_Handler

    .weak RCM_IRQHandler
    .thumb_set RCM_IRQHandler,Default_Handler

    .weak EINT0_IRQHandler
    .thumb_set EINT0_IRQHandler,Default_Handler

    .weak EINT1_IRQHandler
    .thumb_set EINT1_IRQHandler,Default_Handler

    .weak EINT2_IRQHandler
    .thumb_set EINT2_IRQHandler,Default_Handler

    .weak EINT3_IRQHandler
    .thumb_set EINT3_IRQHandler,Default_Handler

    .weak EINT4_IRQHandler
    .thumb_set EINT4_IRQHandler,Default_Handler

    .weak DMA1_Channel1_IRQHandler
    .thumb_set DMA1_Channel1_IRQHandler,Default_Handler

    .weak DMA1_Channel2_IRQHandler
    .thumb_set DMA1_Channel2_IRQHandler,Default_Handler

    .weak DMA1_Channel3_IRQHandler
    .thumb_set DMA1_Channel3_IRQHandler,Default_Handler

    .weak DMA1_Channel4_IRQHandler
    .thumb_set DMA1_Channel4_IRQHandler,Default_Handler

    .weak DMA1_Channel5_IRQHandler
    .thumb_set DMA1_Channel5_IRQHandler,Default_Handler

    .weak DMA1_Channel6_IRQHandler
    .thumb_set DMA1_Channel6_IRQHandler,Default_Handler

    .weak DMA1_Channel7_IRQHandler
    .thumb_set DMA1_Channel7_IRQHandler,Default_Handler

    .weak ADC1_2_IRQHandler
    .thumb_set ADC1_2_IRQHandler,Default_Handler

    .weak USBD1_HP_CAN1_TX_IRQHandler
    .thumb_set USBD1_HP_CAN1_TX_IRQHandler,Default_Handler

    .weak USBD1_LP_CAN1_RX0_IRQHandler
    .thumb_set USBD1_LP_CAN1_RX0_IRQHandler,Default_Handler

    .weak CAN1_RX1_IRQHandler
    .thumb_set CAN1_RX1_IRQHandler,Default_Handler

    .weak CAN1_SCE_IRQHandler
    .thumb_set CAN1_SCE_IRQHandler,Default_Handler

    .weak EINT9_5_IRQHandler
    .thumb_set EINT9_5_IRQHandler,Default_Handler

    .weak TMR1_BRK_IRQHandler
    .thumb_set TMR1_BRK_IRQHandler,Default_Handler

    .weak TMR1_UP_IRQHandler
    .thumb_set TMR1_UP_IRQHandler,Default_Handler

    .weak TMR1_TRG_COM_IRQHandler
    .thumb_set TMR1_TRG_COM_IRQHandler,Default_Handler

    .weak TMR1_CC_IRQHandler
    .thumb_set TMR1_CC_IRQHandler,Default_Handler

    .weak TMR2_IRQHandler
    .thumb_set TMR2_IRQHandler,Default_Handler

    .weak TMR3_IRQHandler
    .thumb_set TMR3_IRQHandler,Default_Handler

    .weak TMR4_IRQHandler
    .thumb_set TMR4_IRQHandler,Default_Handler

    .weak I2C1_EV_IRQHandler
    .thumb_set I2C1_EV_IRQHandler,Default_Handler

    .weak I2C1_ER_IRQHandler
    .thumb_set I2C1_ER_IRQHandler,Default_Handler

    .weak I2C2_EV_IRQHandler
    .thumb_set I2C2_EV_IRQHandler,Default_Handler

    .weak I2C2_ER_IRQHandler
    .thumb_set I2C2_ER_IRQHandler,Default_Handler

    .weak SPI1_IRQHandler
    .thumb_set SPI1_IRQHandler,Default_Handler

    .weak SPI2_IRQHandler
    .thumb_set SPI2_IRQHandler,Default_Handler

    .weak USART1_IRQHandler
    .thumb_set USART1_IRQHandler,Default_Handler

    .weak USART2_IRQHandler
    .thumb_set USART2_IRQHandler,Default_Handler

    .weak USART3_IRQHandler
    .thumb_set USART3_IRQHandler,Default_Handler

    .weak EINT15_10_IRQHandler
    .thumb_set EINT15_10_IRQHandler,Default_Handler

    .weak RTC_Alarm_IRQHandler
    .thumb_set RTC_Alarm_IRQHandler,Default_Handler

    .weak USBDWakeUp_IRQHandler
    .thumb_set USBDWakeUp_IRQHandler,Default_Handler

    .weak FPU_IRQHandler
    .thumb_set FPU_IRQHandler,Default_Handler

    .weak QSPI_IRQHandler
    .thumb_set QSPI_IRQHandler,Default_Handler

    .weak USBD2_HP_IRQHandler
    .thumb_set USBD2_HP_IRQHandler,Default_Handler

    .weak USBD2_LP_IRQHandler
    .thumb_set USBD2_LP_IRQHandler,Default_Handler
{%- elif info.class == "APM32F10X_HD" %}
    .weak WWDT_IRQHandler
    .thumb_set WWDT_IRQHandler,Default_Handler

    .weak PVD_IRQHandler
    .thumb_set PVD_IRQHandler,Default_Handler

    .weak TAMPER_IRQHandler
    .thumb_set TAMPER_IRQHandler,Default_Handler

    .weak RTC_IRQHandler
    .thumb_set RTC_IRQHandler,Default_Handler

    .weak FLASH_IRQHandler
    .thumb_set FLASH_IRQHandler,Default_Handler

    .weak RCM_IRQHandler
    .thumb_set RCM_IRQHandler,Default_Handler

    .weak EINT0_IRQHandler
    .thumb_set EINT0_IRQHandler,Default_Handler

    .weak EINT1_IRQHandler
    .thumb_set EINT1_IRQHandler,Default_Handler

    .weak EINT2_IRQHandler
    .thumb_set EINT2_IRQHandler,Default_Handler

    .weak EINT3_IRQHandler
    .thumb_set EINT3_IRQHandler,Default_Handler

    .weak EINT4_IRQHandler
    .thumb_set EINT4_IRQHandler,Default_Handler

    .weak DMA1_Channel1_IRQHandler
    .thumb_set DMA1_Channel1_IRQHandler,Default_Handler

    .weak DMA1_Channel2_IRQHandler
    .thumb_set DMA1_Channel2_IRQHandler,Default_Handler

    .weak DMA1_Channel3_IRQHandler
    .thumb_set DMA1_Channel3_IRQHandler,Default_Handler

    .weak DMA1_Channel4_IRQHandler
    .thumb_set DMA1_Channel4_IRQHandler,Default_Handler

    .weak DMA1_Channel5_IRQHandler
    .thumb_set DMA1_Channel5_IRQHandler,Default_Handler

    .weak DMA1_Channel6_IRQHandler
    .thumb_set DMA1_Channel6_IRQHandler,Default_Handler

    .weak DMA1_Channel7_IRQHandler
    .thumb_set DMA1_Channel7_IRQHandler,Default_Handler

    .weak ADC1_2_IRQHandler
    .thumb_set ADC1_2_IRQHandler,Default_Handler

    .weak USBD1_HP_CAN1_TX_IRQHandler
    .thumb_set USBD1_HP_CAN1_TX_IRQHandler,Default_Handler

    .weak USBD1_LP_CAN1_RX0_IRQHandler
    .thumb_set USBD1_LP_CAN1_RX0_IRQHandler,Default_Handler

    .weak CAN1_RX1_IRQHandler
    .thumb_set CAN1_RX1_IRQHandler,Default_Handler

    .weak CAN1_SCE_IRQHandler
    .thumb_set CAN1_SCE_IRQHandler,Default_Handler

    .weak EINT9_5_IRQHandler
    .thumb_set EINT9_5_IRQHandler,Default_Handler

    .weak TMR1_BRK_IRQHandler
    .thumb_set TMR1_BRK_IRQHandler,Default_Handler

    .weak TMR1_UP_IRQHandler
    .thumb_set TMR1_UP_IRQHandler,Default_Handler

    .weak TMR1_TRG_COM_IRQHandler
    .thumb_set TMR1_TRG_COM_IRQHandler,Default_Handler

    .weak TMR1_CC_IRQHandler
    .thumb_set TMR1_CC_IRQHandler,Default_Handler

    .weak TMR2_IRQHandler
    .thumb_set TMR2_IRQHandler,Default_Handler

    .weak TMR3_IRQHandler
    .thumb_set TMR3_IRQHandler,Default_Handler

    .weak TMR4_IRQHandler
    .thumb_set TMR4_IRQHandler,Default_Handler

    .weak I2C1_EV_IRQHandler
    .thumb_set I2C1_EV_IRQHandler,Default_Handler

    .weak I2C1_ER_IRQHandler
    .thumb_set I2C1_ER_IRQHandler,Default_Handler

    .weak I2C2_EV_IRQHandler
    .thumb_set I2C2_EV_IRQHandler,Default_Handler

    .weak I2C2_ER_IRQHandler
    .thumb_set I2C2_ER_IRQHandler,Default_Handler

    .weak SPI1_IRQHandler
    .thumb_set SPI1_IRQHandler,Default_Handler

    .weak SPI2_IRQHandler
    .thumb_set SPI2_IRQHandler,Default_Handler

    .weak USART1_IRQHandler
    .thumb_set USART1_IRQHandler,Default_Handler

    .weak USART2_IRQHandler
    .thumb_set USART2_IRQHandler,Default_Handler

    .weak USART3_IRQHandler
    .thumb_set USART3_IRQHandler,Default_Handler

    .weak EINT15_10_IRQHandler
    .thumb_set EINT15_10_IRQHandler,Default_Handler

    .weak RTC_Alarm_IRQHandler
    .thumb_set RTC_Alarm_IRQHandler,Default_Handler

    .weak USBDWakeUp_IRQHandler
    .thumb_set USBDWakeUp_IRQHandler,Default_Handler

    .weak TMR8_BRK_IRQHandler
    .thumb_set TMR8_BRK_IRQHandler,Default_Handler

    .weak TMR8_UP_IRQHandler
    .thumb_set TMR8_UP_IRQHandler,Default_Handler

    .weak TMR8_TRG_COM_IRQHandler
    .thumb_set TMR8_TRG_COM_IRQHandler,Default_Handler

    .weak TMR8_CC_IRQHandler
    .thumb_set TMR8_CC_IRQHandler,Default_Handler

    .weak ADC3_IRQHandler
    .thumb_set ADC3_IRQHandler,Default_Handler

    .weak FSMC_IRQHandler
    .thumb_set FSMC_IRQHandler,Default_Handler

    .weak SDIO_IRQHandler
    .thumb_set SDIO_IRQHandler,Default_Handler

    .weak TMR5_IRQHandler
    .thumb_set TMR5_IRQHandler,Default_Handler

    .weak SPI3_IRQHandler
    .thumb_set SPI3_IRQHandler,Default_Handler

    .weak UART4_IRQHandler
    .thumb_set UART4_IRQHandler,Default_Handler

    .weak UART5_IRQHandler
    .thumb_set UART5_IRQHandler,Default_Handler

    .weak TMR6_IRQHandler
    .thumb_set TMR6_IRQHandler,Default_Handler

    .weak TMR7_IRQHandler
    .thumb_set TMR7_IRQHandler,Default_Handler

    .weak DMA2_Channel1_IRQHandler
    .thumb_set DMA2_Channel1_IRQHandler,Default_Handler

    .weak DMA2_Channel2_IRQHandler
    .thumb_set DMA2_Channel2_IRQHandler,Default_Handler

    .weak DMA2_Channel3_IRQHandler
    .thumb_set DMA2_Channel3_IRQHandler,Default_Handler

    .weak DMA2_Channel4_5_IRQHandler
    .thumb_set DMA2_Channel4_5_IRQHandler,Default_Handler

    .weak USBD2_HP_CAN2_TX_IRQHandler
    .thumb_set USBD2_HP_CAN2_TX_IRQHandler,Default_Handler

    .weak USBD2_LP_CAN2_RX0_IRQHandler
    .thumb_set USBD2_LP_CAN2_RX0_IRQHandler,Default_Handler

    .weak CAN2_RX1_IRQHandler
    .thumb_set CAN2_RX1_IRQHandler,Default_Handler

    .weak CAN2_SCE_IRQHandler
    .thumb_set CAN2_SCE_IRQHandler,Default_Handler
{%- elif info.class == "APM32F10X_CL" %}
    .weak WWDT_IRQHandler
    .thumb_set WWDT_IRQHandler,Default_Handler

    .weak PVD_IRQHandler
    .thumb_set PVD_IRQHandler,Default_Handler

    .weak TAMPER_IRQHandler
    .thumb_set TAMPER_IRQHandler,Default_Handler

    .weak RTC_IRQHandler
    .thumb_set RTC_IRQHandler,Default_Handler

    .weak FLASH_IRQHandler
    .thumb_set FLASH_IRQHandler,Default_Handler

    .weak RCM_IRQHandler
    .thumb_set RCM_IRQHandler,Default_Handler

    .weak EINT0_IRQHandler
    .thumb_set EINT0_IRQHandler,Default_Handler

    .weak EINT1_IRQHandler
    .thumb_set EINT1_IRQHandler,Default_Handler

    .weak EINT2_IRQHandler
    .thumb_set EINT2_IRQHandler,Default_Handler

    .weak EINT3_IRQHandler
    .thumb_set EINT3_IRQHandler,Default_Handler

    .weak EINT4_IRQHandler
    .thumb_set EINT4_IRQHandler,Default_Handler

    .weak DMA1_Channel1_IRQHandler
    .thumb_set DMA1_Channel1_IRQHandler,Default_Handler

    .weak DMA1_Channel2_IRQHandler
    .thumb_set DMA1_Channel2_IRQHandler,Default_Handler

    .weak DMA1_Channel3_IRQHandler
    .thumb_set DMA1_Channel3_IRQHandler,Default_Handler

    .weak DMA1_Channel4_IRQHandler
    .thumb_set DMA1_Channel4_IRQHandler,Default_Handler

    .weak DMA1_Channel5_IRQHandler
    .thumb_set DMA1_Channel5_IRQHandler,Default_Handler

    .weak DMA1_Channel6_IRQHandler
    .thumb_set DMA1_Channel6_IRQHandler,Default_Handler

    .weak DMA1_Channel7_IRQHandler
    .thumb_set DMA1_Channel7_IRQHandler,Default_Handler

    .weak ADC1_2_IRQHandler
    .thumb_set ADC1_2_IRQHandler,Default_Handler

    .weak USBD_HP_CAN1_TX_IRQHandler
    .thumb_set USBD_HP_CAN1_TX_IRQHandler,Default_Handler

    .weak USBD_LP_CAN1_RX0_IRQHandler
    .thumb_set USBD_LP_CAN1_RX0_IRQHandler,Default_Handler

    .weak CAN1_TX_IRQHandler
    .thumb_set CAN1_TX_IRQHandler,Default_Handler

    .weak CAN1_RX0_IRQHandler
    .thumb_set CAN1_RX0_IRQHandler,Default_Handler

    .weak CAN1_RX1_IRQHandler
    .thumb_set CAN1_RX1_IRQHandler,Default_Handler

    .weak CAN1_SCE_IRQHandler
    .thumb_set CAN1_SCE_IRQHandler,Default_Handler

    .weak EINT9_5_IRQHandler
    .thumb_set EINT9_5_IRQHandler,Default_Handler

    .weak TMR1_BRK_IRQHandler
    .thumb_set TMR1_BRK_IRQHandler,Default_Handler

    .weak TMR1_UP_IRQHandler
    .thumb_set TMR1_UP_IRQHandler,Default_Handler

    .weak TMR1_TRG_COM_IRQHandler
    .thumb_set TMR1_TRG_COM_IRQHandler,Default_Handler

    .weak TMR1_CC_IRQHandler
    .thumb_set TMR1_CC_IRQHandler,Default_Handler

    .weak TMR2_IRQHandler
    .thumb_set TMR2_IRQHandler,Default_Handler

    .weak TMR3_IRQHandler
    .thumb_set TMR3_IRQHandler,Default_Handler

    .weak TMR4_IRQHandler
    .thumb_set TMR4_IRQHandler,Default_Handler

    .weak I2C1_EV_IRQHandler
    .thumb_set I2C1_EV_IRQHandler,Default_Handler

    .weak I2C1_ER_IRQHandler
    .thumb_set I2C1_ER_IRQHandler,Default_Handler

    .weak I2C2_EV_IRQHandler
    .thumb_set I2C2_EV_IRQHandler,Default_Handler

    .weak I2C2_ER_IRQHandler
    .thumb_set I2C2_ER_IRQHandler,Default_Handler

    .weak SPI1_IRQHandler
    .thumb_set SPI1_IRQHandler,Default_Handler

    .weak SPI2_IRQHandler
    .thumb_set SPI2_IRQHandler,Default_Handler

    .weak USART1_IRQHandler
    .thumb_set USART1_IRQHandler,Default_Handler

    .weak USART2_IRQHandler
    .thumb_set USART2_IRQHandler,Default_Handler

    .weak USART3_IRQHandler
    .thumb_set USART3_IRQHandler,Default_Handler

    .weak EINT15_10_IRQHandler
    .thumb_set EINT15_10_IRQHandler,Default_Handler

    .weak RTC_Alarm_IRQHandler
    .thumb_set RTC_Alarm_IRQHandler,Default_Handler

    .weak OTG_FS_WKUP_IRQHandler
    .thumb_set OTG_FS_WKUP_IRQHandler,Default_Handler

    .weak TMR5_IRQHandler
    .thumb_set TMR5_IRQHandler,Default_Handler

    .weak SPI3_IRQHandler
    .thumb_set SPI3_IRQHandler,Default_Handler

    .weak UART4_IRQHandler
    .thumb_set UART4_IRQHandler,Default_Handler

    .weak UART5_IRQHandler
    .thumb_set UART5_IRQHandler,Default_Handler

    .weak TMR6_IRQHandler
    .thumb_set TMR6_IRQHandler,Default_Handler

    .weak TMR7_IRQHandler
    .thumb_set TMR7_IRQHandler,Default_Handler

    .weak DMA2_Channel1_IRQHandler
    .thumb_set DMA2_Channel1_IRQHandler,Default_Handler

    .weak DMA2_Channel2_IRQHandler
    .thumb_set DMA2_Channel2_IRQHandler,Default_Handler

    .weak DMA2_Channel3_IRQHandler
    .thumb_set DMA2_Channel3_IRQHandler,Default_Handler

    .weak DMA2_Channel4_IRQHandler
    .thumb_set DMA2_Channel4_IRQHandler,Default_Handler

    .weak DMA2_Channel5_IRQHandler
    .thumb_set DMA2_Channel5_IRQHandler,Default_Handler

    .weak ETH_IRQHandler
    .thumb_set ETH_IRQHandler,Default_Handler

    .weak ETH_WKUP_IRQHandler
    .thumb_set ETH_WKUP_IRQHandler,Default_Handler

    .weak CAN2_TX_IRQHandler
    .thumb_set CAN2_TX_IRQHandler,Default_Handler

    .weak CAN2_RX0_IRQHandler
    .thumb_set CAN2_RX0_IRQHandler,Default_Handler

    .weak CAN2_RX1_IRQHandler
    .thumb_set CAN2_RX1_IRQHandler,Default_Handler

    .weak CAN2_SCE_IRQHandler
    .thumb_set CAN2_SCE_IRQHandler,Default_Handler

    .weak OTG_FS_IRQHandler
    .thumb_set OTG_FS_IRQHandler,Default_Handler
{%- endif %}
