{#
 # Licensed under the Apache License v. 2 (the "License")
 # You may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0.html
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # Copyright (C) 2022-2024 xqyjlj<xqyjlj@126.com>
 #
 # @author      xqyjlj
 # @file        wwdt.c.j2
 #
 # Change Logs:
 # Date           Author       Notes
 # ------------   ----------   -----------------------------------------------
 # 2024-04-01     xqyjlj       initial version
 #
 #}
{%- extends "csp-file-base.c.j2" %}

{%- block includes %}
#include "csp/wwdt.h"
{%- endblock %}

{%- block function_body %}
void csp_wwdt_init(void)
{
    /*!< enable the WWDT clock. */
    RCM_EnableAPB1PeriphClock(RCM_APB1_PERIPH_WWDT);

    WWDT_Enable({{ CSP.project|wwdt_counter_t(64) }}U);
    WWDT_ConfigTimebase({{ CSP.project|wwdt_prescaler() }});
    WWDT_ConfigWindowData({{ CSP.project|wwdt_window_t(64) }}U);
{%- if CSP.project|wwdt_ewi_mode_t() == "enable" %}
{#  #}
    /*!< enable the early wakeup interrupt. */
    WWDT_EnableEWI();
{%- endif %}
}
{%- endblock %}
