{#
 # Licensed under the Apache License v. 2 (the "License")
 # You may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0.html
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # Copyright (C) 2022-2024 xqyjlj<xqyjlj@126.com>
 #
 # @author      xqyjlj
 # @file        xmake.lua.j2
 #
 # Change Logs:
 # Date           Author       Notes
 # ------------   ----------   -----------------------------------------------
 # 2024-03-22     xqyjlj       initial version
 # 2025-10-10     xqyjlj       improve xmake configuration
 #
 #}
{%- extends "csp-file-base.xmake.lua.j2" %}

{%- block project_rules %}
add_rules("mode.debug", "mode.release")
add_rules("plugin.compile_commands.autoupdate", {outputdir = ".vscode"})
{%- endblock %}

{%- block project_config %}
set_project("{{ CSP.project.name }}")
set_version("0.0.0")

set_config("plat", "cross")
set_config("arch", "arm")
set_config("cpu", "cortex-m3")
{%- endblock %}

{%- block toolchains %}
toolchain("gcc-arm-none-eabi")
do
    set_kind("standalone")
    set_toolset("cc", "arm-none-eabi-gcc")
    set_toolset("cxx", "arm-none-eabi-g++")
    set_toolset("ld", "arm-none-eabi-g++")
    set_toolset("ar", "arm-none-eabi-ar")
    set_toolset("as", "arm-none-eabi-gcc")
    set_toolset("objcopy", "arm-none-eabi-objcopy")
    set_toolset("size", "arm-none-eabi-size")
{%- if CSP.toolchainsPath %}
    local toolchain_path = os.getenv("CSP_TOOLCHAIN_PATH") or "{{ CSP.toolchainsPath }}"
    set_sdkdir(toolchain_path)
{%- endif %}
end
toolchain_end()
{%- endblock %}

{%- block flags %}
local common_flags = {
    "-mcpu=cortex-m3",
    "-mthumb",
    "-mthumb-interwork",
    "-ffunction-sections",
    "-fdata-sections",
    "-fno-common",
    "-fmessage-length=0",
    "-Wall"
}
local cxx_flags = table.join(common_flags, {"-std=c++11"})
local c_flags = table.join(common_flags, {"-std=gnu99"})
local as_flags = table.join(common_flags, {"-x", "assembler-with-cpp"})
local linker_script = path.join(os.projectdir(), "{{ CSP.project.targetChip }}.lds")
local ld_flags = {
    "-mcpu=cortex-m3",
    "-mthumb",
    "-mthumb-interwork",
    "-specs=nano.specs",
    "-specs=nosys.specs",
    "-Wl,--gc-sections,--print-memory-usage",
    "-T" .. linker_script
}
local defines = {
{%- for define in CSP.project|builder_defines %}
    "{{ define }}",
{%- endfor %}
}
{%- endblock %}

{%- block target_configs %}
    set_languages("c99", "cxx11")
    set_extension(".elf")

    set_toolchains("gcc-arm-none-eabi")

    add_rules("asm")

    add_cxxflags(cxx_flags, {force = true})
    add_cflags(c_flags, {force = true})
    add_asflags(as_flags, {force = true})
    add_ldflags(ld_flags, {force = true})
    add_defines(defines, {force = true})
{%- endblock %}

{%- block target_files %}
{%- for file in CSP.project|builder_src_files %}
    add_files("{{ file }}")
{%- endfor %}
{# #}
{%- if CSP.project.gen.toolchains == "gcc-arm-none-eabi" %}
    add_files("startup_gcc.S")
{%- endif %}
{# #}
{%- for dir in CSP.project|builder_inc_dirs %}
    add_includedirs("{{ dir }}", {public = true})
{%- endfor %}
{%- endblock %}

{%- block target_script %}
    on_config(function(target)
        import("core.project.config")
        local artifact_dir = path.join(config.buildir(), config.plat(), config.arch(), config.mode())
        local map = path.join(artifact_dir, target:name() .. ".map")
        target:add("ldflags", string.format("-Wl,-Map=%s,--cref", map), {force = true})
    end)

    after_link(function(target)
        import("core.project.config")
        local artifact_dir = path.join(config.buildir(), config.plat(), config.arch(), config.mode())
        local objcopy, _ = target:tool("objcopy")
        local size, _ = target:tool("size")

        os.mkdir(artifact_dir)

        if objcopy then
            local hex = path.join(artifact_dir, target:name() .. ".hex")
            os.vrunv(objcopy, {"-O", "ihex", target:targetfile(), hex})
            local bin = path.join(artifact_dir, target:name() .. ".bin")
            os.vrunv(objcopy, {"-O", "binary", target:targetfile(), bin})
        end
        if size then
            os.vexecv(size, {"--format=berkeley", target:targetfile()})
        end
    end)
{%- endblock %}
